{% if page.comments %}
<!-- Link Gitalk 的支持文件  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>
<!--script type="text/javascript" src="/assets/js/md5.min.js"></script -->
<div id="gitalk-container"></div>
<script type="text/javascript">
    var gitalk = new Gitalk({

    // gitalk的主要参数
        clientID: '57e5d2ce42e257b1d183',
        clientSecret: '26255f9b082e235cade64091600f9a724bd41e66',
        repo: 'yantanglife.github.io',
        owner: 'yantanglife',
        admin: ['yantanglife'],
        //id: md5(location.pathname),

    });
    gitalk.render('gitalk-container');
</script>
<!-- Gitalk end -->
{% endif %}
