<link rel="stylesheet" href="../_sass/_post.scss">
<link rel="stylesheet" href="../_sass/_home.scss">
<link rel="stylesheet" href="../_sass/_layout.scss">
<link rel="stylesheet" href="../css/main.scss">
<link rel="stylesheet" href="../css/main.css">
<footer class="footer">
    <!--TOP button. | 2019.10.09-->
    <div id="back-top">
        <a href="">TOP</a>
    </div>
<div class="wrapper">
    <!--Github ICON. Use href.--2019.09.16-->
    <a href="{{site.profile_links.GitHub}}">
        <img src="/images/icon/github.png" style="width: 40px;height: 40px;">
    </a>
    <!--WeChat ICON. Use Func to show a QRCode, which is a picture.-->
    <a id="WeChatFunc" >
        <img src="/images/icon/wechat.png" style="width: 40px;height: 40px;cursor: pointer;">
    </a>
    <!--Add end.-->
    <br>
© {{ site.time | date: '%Y' }} | ⚡ {{ site.author }} |
    <!--Add VISITS nums for total or single page. 2019.09.17-->
    {% if page.url == site.header.links.Category or page.url == "/" %}
    <span id="busuanzi_container_site_uv" style="display: none">👣 <span id="busuanzi_value_site_uv"></span></span>
    {% else %}
    <span id="busuanzi_container_page_pv" style="display: none">👀 <span id="busuanzi_value_page_pv"></span></span>
    {% endif %}
    🚶
    <!--Add end.-->

</div>
</footer>

<!--Here, file:/js/layer.js and file:/js/theme/default/layer.css
    that decide to show the below PICTURE when CLICK this ICON.
    I don't know why. But it works.--2019.09.16-->
<script type="text/javascript" src="/js/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="/js/layer.js"></script>
<script type="text/javascript">
$('#WeChatFunc').on('click', function(){
	    	layer.open({
	    		type: 1,
				  title: false,
				  closeBtn: 0,
				  maxWidth:`300px`,
				  skin: 'layui-layer-nobg',
				  shadeClose: true,
				  content: '<img style="width:300px;" src="/images/k_new.png"/>',
				  offset: '150px'
	    	});
  		});
</script>
<!--Add end.-->

<!--This for BACK to TOP button. -->
<!--Reference: http://ju.outofmemory.cn/entry/140718
               https://duter2016.github.io/archives/ | 2019.10.09.-->
<script type="text/javascript" src="/js/backtop.js"></script>

<!--Reference: http://ibruce.info/2015/04/04/busuanzi/#more | 2019.09.17-->
<script src="https://busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>

<!--Add background animation effect to show the line of mouse movement.-->
<!--Reference: https://www.cnblogs.com/Sharley/p/9603129.html | 2019.10.08-->
<script type="text/javascript" src="/js/line.js"></script>
<!--Add mouse click effect.-->
<!--Reference: https://www.cnblogs.com/yad123/p/11432062.html | 2019.10.08-->
<script type="text/javascript" src="/js/click.js"></script>

<script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$']]}});</script>
<script src="{{ '/js/easybook.js' | prepend: site.baseurl }}"></script>

